<h1>Solar System</h1>

<div class="large-checkbox">
  <input id="showAstroLabels" type="checkbox" [(ngModel)]="showAstroLabels" />
  <label for="showAstroLabels">Show labels</label>
</div>

<div class="large-checkbox">
  <input id="showData" type="checkbox" [(ngModel)]="showData" />
  <label for="showData">Show Data</label>
</div>

<div *ngIf="showData">
  <p *ngFor="let data of systemData" class="data">{{data}}</p>
</div>

<div class="solar-system" [style.width]="solarSystem?.width + 'px'" [style.height]="solarSystem?.height + 'px'">
  <div class="sun" [style.left]="sun?.xPosition + 'px'" [style.top]="sun?.yPosition + 'px'" [style.width]="(sun?.radius * 2) + 'px'"
    [style.height]="(sun?.radius * 2) + 'px'"></div>
  <app-astro-body *ngFor="let astroBody of astroBodies" [astroBody]="astroBody" [parentBody]="sun" [displayLabel]="showAstroLabels"></app-astro-body>
</div>