* {
    font-family: Arial, Helvetica, sans-serif;
}

.sun {
    border: solid 3px darkorange;
    background-color: yellow;
    position: absolute;
    border-radius: 100px;
}

.large-checkbox {
    display: flex;
    align-items: center;
}

.large-checkbox input {
    width: 34px;
    height: 34px;
}